<div class="col-md-4 col-sm-6 mb-2">
    <div class="card bg-dark-brown text-white h-100">
        <img class="card-img-top" src="<%= product.image_url(:thumb) %>" alt="<%= product.name %>">
        <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <%= link_to "View Product", product, :class=>"btn btn-primary"%>
        </div>
    </div>
</div>
