<!DOCTYPE html>
<html>
  <head>
    <title>Bullock & Star Hardware</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC|Vesper+Libre" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render "components/menu" %>
  <body class="main">
    <% if flash[:danger] %>
    <div id="notice_wrapper" class="alert transparent-danger text-center">
        <p><%= danger %></p>
    </div>
    <% end %>
    <% if flash[:success] %>
        <div id="notice_wrapper" class="alert transparent-success text-center">
            <p><%= success %></p>
        </div>
    <% end %>
    <div class="container mt-5">
      <h1><%= @title %></h1>
      <%= render partial: 'components/breadcrumb' %>

      <%= yield %>
    </div>
  </body>
</html>
